$primary-color: #1ED760;
$primary-color-hover: #1DB954;

$font-light: #FFF;
$font-grey: #9E9E9E;
$font-dark: #000;

$background-primary: $primary-color;
$background-light: #FFF;
$background-grey: #2D2D2D;
$background-grey-dark: #101010;
$background-dark: #000;
$background-grey-hover: #3c3c3c;

$danger: #f00;